h1{
    text-align: center;
    margin-left: 0%;
    margin-right:0%;
}
img{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
section{
    text-align: center;
}
body{
    background-color: rgb(213, 243, 243);
    font-family: Times;
}
poll{
    text-align: right;
}
